<section class="header-section">
  <div class="logo-section">
    <a href="/">
      <img src="/assets/images/sunday_logo.png" alt="Logo">
    </a>
  </div>

  <div class="auth-section">
    <ul>
      <li class="log-in">
        <div class="dropdown show">
          <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LOG IN
          </a>
          <div class="dropdown-menu auth-section__menu" aria-labelledby="dropdownMenuLink">
            <form class="">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
        </div>

      </li>
      <li class="sign-in">
        SIGN IN
      </li>
    </ul>
  </div>

</section>
